.postcard__img {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    padding-left: 90px;
    border: 2px;
    border-color: black;
    
    
    object-position: center;
   
  
    overflow: hidden;
    
  }
  .aboutus-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 50px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: rgb(38, 211, 202);
}
.aboutus-title2 {
    background: #45beb8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
    align-self: center;
}
.aboutus-text {
    color: #37324d;
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 35px;
}


